.about {
    position: relative;
    overflow: hidden;
    margin-top: -42px;
    margin-left: 2px;
    padding-bottom: 40px;

    @include desktop {
        margin-top: -61px;
        padding-bottom: 210px;
        margin-left: 0;
    }

    &__wrapper {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 24px;
    }

    &__me {
        width: calc(335px + (200 + 200 * 0.7) * ((100vw - 375px) / 1023));
        max-width: 700px;

        @include desktop {
            flex: 0 1 38.88vw;
        }
    }

    &__image {
        width: 21.33vw;
        height: 100%;
        opacity: 0;
        transform: translateY(30px);

        @include desktop {
            width: calc(150px + (160 + 160 * 0.7) * ((100vw - 1440px) / 1800));
            min-width: 130px;
        }

        @include desktopXL {
            width: 205px;
        }
    }

    &__title {
        padding: 26px 0 20px;
        @include adaptive-font(28, 32);
        line-height: 140%;
        margin: 0;
        opacity: 0;
        transform: translateY(30px);

        @include desktop {
            @include adaptive-font(32, 38);
            padding: 36px 0 30px;
        }

        @include desktopL {
            @include adaptive-font(36, 44);
        }

        @include desktopXL {
            font-size: 39px;
        }
    }

    &__subtitle {
        opacity: 0;
        transform: translateY(30px);
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 10px;

        @include desktop {
            margin-right: calc(20px + (130 + 130 * 0.7) * ((100vw - 1024px) / 1440));
            margin-bottom: calc(50px + (60 + 60 * 0.7) * ((100vw - 1024px) / 1440));
        }

        @include desktopL {
            margin-right: calc(135px + (60 + 60 * 0.7) * ((100vw - 1440px) / 1800));
            margin-bottom: 110px;
        }

        @include desktopXL {
            margin-right: 155px;
        }
    }

    &__contact {
        font-family: "SF Pro Display Regular";
        font-weight: 400;
        font-style: normal;
        @include adaptive-font(14, 16);
        line-height: 140%;
        text-decoration: none;
        color: #282a33;
        opacity: 0;
        transform: translateY(30px);

        @include desktop {
            font-size: 14px;
        }

        @include desktopL {
            @include adaptive-font(14, 20);
        }

        @include desktopXL {
            font-size: 16px;
        }
    }

    &__social {
        display: flex;
        margin-top: 5px;
        gap: 20px;
    }

    &__link {
        opacity: 0;
        transform: translateY(30px);
        border-style: none;
        cursor: pointer;
    }

    &__link-image {
        display: block;
        width: calc(25px + (10 + 10 * 0.7) * (100vw - 375px) / 1023);

        @include desktop {
            width: 25px;
        }
    }

    &__vektor {
        position: absolute;
        bottom: -18px;
        z-index: -1;
        padding-right: 30px;
        width: 100%;

        svg {
            display: block;
            width: 100%;
            height: 100%;
        }

        @include desktop {
            display: none;
        }
    }

    &__vektor-des {
        display: none;

        svg {
            display: block;
            width: 100%;
            height: 100%;
        }

        @include desktop {
            position: absolute;
            bottom: -56px;
            z-index: -1;
            display: block;
            padding-right: 30px;
            width: 100%;
        }

        @include desktopL {
            padding-right: 300px;
            max-width: 1800px;
        }
    }
}