.education {
    @include desktop {
        text-align: center;
        width: 269px;
    }

    @include desktopL {
        width: calc(269px + (80 + 80 * 0.7) * ((100vw - 1440px) / 1800));
        max-width: 300px;
    }

    &__title {
        margin-bottom: 16px;
        @include adaptive-font(20, 24);
        line-height: 24px;
        opacity: 0;
        transform: translateX(40px);
        margin-left: 2px;

        @include desktop {
            margin-bottom: 31px;
            margin-left: 0;
            @include adaptive-font(22, 26);
            line-height: 29px;
        }

        @include desktopL {
            @include adaptive-font(24, 30);
        }

        @include desktopXL {
            font-size: 26px;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;

        @include desktop {
            gap: calc(30.5px + (50 + 50 * 0.7) * ((100vw - 1440px) / 1800));
        }

        @include desktopXL {
            gap: 47.5px;
        }
    }
}

.educ-card {
    display: flex;
    flex: 0 1 30%;
    min-width: 157px;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateX(40px);
    gap: 5px;

    @include desktop {
        flex: inherit;
        width: calc(150px + (360 + 360 * 0.7) * ((100vw - 1440px) / 1800));
        gap: 8px;
        margin-right: 3px;
        min-width: 150px;
    }

    &__image {
        width: fit-content;
        height: 40px;

        @include desktop {
            height: fit-content;
        }
    }

    &__title {
        @include adaptive-font(14, 16);
        line-height: 20px;
        text-align: center;

        @include desktop {
            font-size: 14px;
        }

        @include desktopL {
            @include adaptive-font(14, 22);
        }

        @include desktopXL {
            font-size: 17px;
        }
    }

    &__subtitle {
        text-align: center;
        line-height: 20px;
    }
}