.experience {
    overflow: hidden;

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @include desktop {
            flex-direction: row;
            gap: 0;
            justify-content: space-between;
        }
    }

    &__image-wrapper {
        display: flex;
        justify-content: center;

        @include desktop {
            width: calc(310px + (200 + 200 * 0.7) * ((100vw - 1440px) / 1800));
            position: relative;
        }
    }

    &__image {
        display: block;
        width: 53.33vw;
        height: 100%;
        opacity: 0;
        transform: translateY(250px);

        @include desktop {
            position: sticky;
            top: 160px;
            width: calc(500px + (300 + 300 * 0.7) * ((100vw - 1440px) / 1800));
            height: fit-content;
            flex: 1 0 auto;
        }

        @include desktopL {
            top: 0;
        }
    }

    @include desktop {
        overflow: visible;
    }
}