.footer {
	overflow: hidden;
	padding: 40px 0;

	&__wrapper {
		display: flex;
		justify-content: center;
	}

	&__image {
		width: 100vw;
		height: 100%;
		max-width: 512px;
		opacity: 0;
		transform: translateY(30px);
	}

	@include desktop {
		padding: 200px 0 50px;
	}
}