.header {
	position: sticky;
	top: 0;
	z-index: 10;
	padding-top: 30px;
	min-height: 48px;

	@include desktop {
		padding-top: 0;
	}

	&__wrapper {
		display: flex;
		justify-content: flex-end;
	}

	&__menu {
		position: relative;
		z-index: 11;
		border-style: none;
		cursor: pointer;
		padding: 14px 10px;
		margin-top: -14px;
		margin-right: -10px;
		border-radius: 50%;
		background-color: white;

		&_active {
			position: fixed;
			right: 20px;
			top: 30px;
			background: #fafafa;

			.header__line:nth-child(2) {
				opacity: 0;
			}

			.header__line:first-child {
				transform: rotate(-45deg) translate(-5px, 6px);
			}

			.header__line:last-child {
				transform: rotate(45deg) translate(-5px, -6px);
			}
		}

		@include desktop {
			display: none;
		}
	}

	&__line {
		display: block;
		width: 26px;
		height: 2.25px;
		background: #282a33;
		transition: all 0.3s ease;

		&:nth-child(2) {
			margin: 5.62px 0;
		}
	}

	&__bgr {
		display: none;

		svg {
			display: block;
		}

		@include desktop {
			position: absolute;
			z-index: -1;
			display: block;
			width: 100px;
			top: -88px;
			right: -8px;
			opacity: 0;
			transition: .3s;
		}
	}
}

.menu-des {
	display: none;

	@include desktop {
		display: block;
		margin-right: 5px;
	}

	&__list {
		display: flex;
		list-style: none;
		background-color: white;
		padding: 100px 0 40px 15px;
		padding-top: vw(100px, 1440px);

		@include desktopXL {
			padding-top: 125px;
		}
	}

	&__item:nth-child(2) {
		margin-right: 2.083vw;
		margin-left: 2.22vw;

		@include desktopXL {
			margin: 0 40px;
		}
	}

	&__item {
		opacity: 0;
		transform: translateY(30px);
		transition: 0.3s;

		&_active {
			.header__bgr {
				opacity: 1;
			}
		}
	}

	&__link {
		font-family: "SF Pro Display Bold";
		font-weight: 700;
		font-style: normal;
		@include adaptive-font(16, 20);
		line-height: 21px;
		text-decoration: none;
		color: #282a33;
		transition: 0.4s;
		padding: 5px 0;

		@include desktopL {
			@include adaptive-font(18, 24);
		}

		@include desktopXL {
			font-size: 20px;
		}

		&:hover,
		&:focus {
			color: #6a00e4;
		}
	}
}

@keyframes popupAppear {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes popupItem {
	from {
		opacity: 0;
		transform: translateY(30px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.popup {
	position: fixed;
	top: 0;
	z-index: 10;
	display: none;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	background: #fafafa;

	&__list {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 60px 0 0 40px;
		gap: 40px;
	}

	&__item {
		opacity: 0;
		transform: translateY(30px);
	}

	&__link {
		font-family: "SF Pro Display Bold";
		font-weight: 700;
		font-style: normal;
		font-size: 26px;
		line-height: 31px;
		text-decoration: none;
		color: #282a33;
	}

	&__bgr {
		display: flex;
		justify-content: center;
		margin-top: -33px;
		opacity: 0;
		transform: scale(0.5);
	}

	&__image {
		margin-right: 9px;
		width: 123.7vw;
		height: 100%;
	}

	&__vector {
		position: absolute;
		left: 54px;
		top: 32px;
	}

	&_active {
		display: block;
		opacity: 0;
		animation: popupAppear 0.25s ease forwards;

		.popup__item {
			animation: popupItem 0.3s 0.3s ease forwards;
		}

		.popup__item:nth-child(2) {
			animation-delay: 0.4s;
		}

		.popup__item:last-child {
			animation-delay: 0.5s;
		}

		.popup__bgr {
			animation: popupAppear 0.4s 0.5s ease forwards;
		}
	}
}