.skill {
    overflow: hidden;
    padding-top: 40px;

    @include desktop {
        padding-top: 192px;
    }

    &__wrapper {
        position: relative;

        @include mobile {
            margin-left: 2px;
        }
    }

    &__bgr {
        position: absolute;
        top: -40px;
        z-index: -1;
        padding-right: 30px;
        width: 100%;

        @include desktop {
            display: none;
        }
    }

    &__bgr-desktop {
        display: none;

        @include desktop {
            position: absolute;
            top: -190px;
            z-index: -1;
            display: block;
            padding-right: 30px;
            width: 100%;
        }

        @include desktopL {
            padding-right: 300px;
        }
    }

    &__title {
        margin-bottom: 21px;
        @include adaptive-font(22, 26);
        line-height: 26px;
        opacity: 0;
        transform: translateY(30px);

        @include desktop {
            @include adaptive-font(22, 26);
            line-height: 29px;
            margin-bottom: 30px;
        }

        @include desktopL {
            @include adaptive-font(24, 30);
        }

        @include desktopXL {
            font-size: 26px;
        }
    }

    &__item-wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    &__item {
        flex: 1 0 48%;
        width: calc(300px + (30 + 30 * 0.7) * ((100vw - 375px) / 1023));

        @include desktop {
            flex: 1 1 23%;
        }

        @include desktopL {
            width: calc(270px + (120 + 120 * 0.7) * ((100vw - 1440px) / 1800));
        }
    }

    &__item-title {
        margin-bottom: 6px;
        @include adaptive-font(14, 16);
        line-height: 17px;
        opacity: 0;
        transform: translateY(30px);

        @include desktop {
            font-size: 14px;
        }

        @include desktopL {
            @include adaptive-font(14, 22);
        }

        @include desktopXL {
            font-size: 17px;
        }
    }

    &__subtitle {
        opacity: 0;
        transform: translateY(30px);
    }
}