.work {
    margin-left: 2px;

    @include desktop {
        margin-left: 0;
    }

    &__title {
        margin-bottom: vw(20px, 375px);
        @include adaptive-font(20, 24);
        line-height: 24px;
        opacity: 0;
        transform: translateX(-40px);

        @include desktop {
            margin-top: 9px;
            margin-bottom: 30px;
            font-size: vw(24px, 1440px);
            line-height: 120.8%;
        }

        @include desktopXL {
            font-size: 30px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    @include desktop {
        max-width: 560px;
    }
}

.work-card {
    opacity: 0;
    transform: translateX(-40px);
    width: calc(333px + (20 + 20 * 0.7) * ((100vw - 375px) / 1023));
    flex: 1 0 48%;

    @include desktop {
        min-width: vw(560px, 1440px);
    }

    @include desktopL {
        min-width: 560px;
    }

    &:not(:last-child) {
        margin-bottom: 40px;

        @include desktop {
            margin-bottom: vw(40px, 1440px);
        }

        @include desktopXL {
            margin-bottom: 50px;
        }
    }

    &__date {
        font-family: "SF Pro Display Regular";
        font-weight: 400;
        font-style: normal;
        @include adaptive-font(14, 16);
        line-height: 17px;
        color: #828282;

        @include desktop {
            font-size: 14px;
        }
    }

    &__wrapper-name {
        display: flex;
        padding: 7px 0;
        gap: 8px;

        @include desktop {
            padding: 8px 0;
        }
    }

    &__text {
        @include desktop {
            display: flex;
            gap: 8px;
        }
    }

    &__subtitle {
        line-height: 140%;
    }

    &__name {
        @include adaptive-font(14, 16);
        line-height: 17px;

        @include desktop {
            font-size: 14px;
        }

        @include desktopL {
            @include adaptive-font(14, 22);
        }

        @include desktopXL {
            font-size: 17px;
        }
    }

    &__wrapper-place {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
        gap: 8px;

        @media (max-width: 370px) {
            flex-wrap: wrap;
        }

        @include desktopL {
            margin-bottom: 5.5px;
        }
    }

    &__logo {
        align-self: flex-start;
        width: calc(30px + (10 + 10 * 0.7) * ((100vw - 375px) / 1023));

        @include desktop {
            width: 30px;
        }

        @include desktopL {
            width: calc(30px + (8 + 8 * 0.7) * ((100vw - 1440px) / 1800));
        }
    }

    &__place {
        line-height: 17px;

        @media (min-width: 370px) {
            white-space: nowrap;
        }
    }

    &__link {
        display: block;
        margin-top: 4px;
        font-family: "SF Pro Display Regular";
        font-weight: 400;
        font-style: normal;
        @include adaptive-font(14, 16);
        line-height: 17px;
        color: #2f80ed;

        @include desktop {
            font-size: 14px;
        }
    }



    &:first-child {
        @include mobile {
            .work-card__link:last-child {
                margin-top: 2.5px;
            }

            .work-card__wrapper-name {
                padding: 7px 0;
            }

            .work-card__subtitle {
                line-height: 17px;
            }
        }
    }

    &:nth-child(3) {
        @include desktop {
            .work-card__wrapper-name {
                padding: 5px 0 6px;
            }
        }

        .work-card__wrapper-place {
            margin-bottom: 11px;
        }
    }

    &:last-child {
        @include mobile {
            .work-card__wrapper-name {
                padding: 9px 0;
            }
        }
    }
}