section#about.about
	.about__wrapper.container
		.about__me
			img.about__image.fade(src='./images/sprites/png/Logo.png', alt='Me')
			h1.about__title.fade
				| &Ucy;&vcy;&acy;&rcy;&ocy;&vcy; &Acy;&lcy;&iecy;&kcy;&scy;&acy;&ncy;&dcy;&rcy;,
				br
				| Front-end &rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&chcy;&icy;&kcy;
			p.about__subtitle.fade
				| &Kcy;&acy;&kcy; &rcy;&acy;&zcy;&rcy;&acy;&bcy;&ocy;&tcy;&chcy;&icy;&kcy;, &yacy; &vcy;&ycy;&scy;&ocy;&kcy;&ocy; &tscy;&iecy;&ncy;&yucy; &scy;&pcy;&ocy;&scy;&ocy;&bcy;&ncy;&ocy;&scy;&tcy;&softcy; &vcy;&ocy;&pcy;&lcy;&ocy;&tcy;&icy;&tcy;&softcy; &vcy;&icy;&dcy;&iecy;&ncy;&icy;&iecy;
				| &dcy;&icy;&zcy;&acy;&jcy;&ncy;&iecy;&rcy;&acy; &vcy; &zhcy;&icy;&zcy;&ncy;&softcy;, &chcy;&tcy;&ocy; &scy;&chcy;&icy;&tcy;&acy;&yucy; &ocy;&chcy;&iecy;&ncy;&softcy; &pcy;&ocy;&lcy;&iecy;&zcy;&ncy;&ycy;&mcy; &dcy;&lcy;&yacy; &bcy;&icy;&zcy;&ncy;&iecy;&scy;&acy;. &YAcy;
				| &pcy;&ocy;&lcy;&ucy;&chcy;&acy;&yucy; &ocy;&gcy;&rcy;&ocy;&mcy;&ncy;&ocy;&iecy; &ucy;&dcy;&ocy;&vcy;&lcy;&iecy;&tcy;&vcy;&ocy;&rcy;&iecy;&ncy;&icy;&iecy;, &ncy;&acy;&bcy;&lcy;&yucy;&dcy;&acy;&yacy; &zcy;&acy; &rcy;&acy;&bcy;&ocy;&tcy;&ocy;&jcy; &ocy;&tcy; &icy;&dcy;&iecy;&icy; &dcy;&ocy;
				| &dcy;&icy;&zcy;&acy;&jcy;&ncy;&acy;, &ocy;&scy;&ocy;&bcy;&iecy;&ncy;&ncy;&ocy; &kcy;&ocy;&gcy;&dcy;&acy; &ocy;&ncy;&acy; &pcy;&ocy;&yacy;&vcy;&lcy;&yacy;&iecy;&tcy;&scy;&yacy; &vcy; &rcy;&ucy;&kcy;&acy;&khcy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&yacy;. &YAcy;
				| &scy;&chcy;&icy;&tcy;&acy;&yucy;, &chcy;&tcy;&ocy; &ocy;&rcy;&icy;&iecy;&ncy;&tcy;&icy;&rcy;&ocy;&vcy;&acy;&ncy;&ncy;&ycy;&iecy; &ncy;&acy; &pcy;&ocy;&lcy;&softcy;&zcy;&ocy;&vcy;&acy;&tcy;&iecy;&lcy;&yacy; &rcy;&iecy;&shcy;&iecy;&ncy;&icy;&yacy; &yacy;&vcy;&lcy;&yacy;&yucy;&tcy;&scy;&yacy;
				| &ncy;&acy;&icy;&bcy;&ocy;&lcy;&iecy;&iecy; &tscy;&iecy;&ncy;&ncy;&ycy;&mcy;&icy; &tscy;&icy;&fcy;&rcy;&ocy;&vcy;&ycy;&mcy;&icy; &rcy;&iecy;&scy;&ucy;&rcy;&scy;&acy;&mcy;&icy; &bcy;&ucy;&dcy;&ucy;&shchcy;&iecy;&gcy;&ocy;.
		nav.about__contacts
			a.about__contact.fade(href='mailto:neednagib@gmail.com') neednagib@gmail.com
			a.about__contact.fade(href='tel:+79620003743') +7 (962) 000-37-43
			a.about__contact.fade(href="https://yandex.ru/maps/?ll=30.310182,59.951059&z=12&l=map" target="_blank") г. Санкт-Петербург
			nav.about__social
				button.about__link.fade(type="button" data-social="facebook")
					img.about__link-image(src='./images/sprites/svg/fb.svg', alt='facebook')
				button.about__link.fade(type="button" data-social="vk")
					img.about__link-image(src='./images/sprites/svg/vk.svg', alt='vk')
				button.about__link.fade(type="button" data-social="telegram")
					img.about__link-image(src='./images/sprites/svg/tg.svg', alt='telegram')
		.about__vektor
			svg(viewbox='0 0 370 123', fill='none', xmlns='http://www.w3.org/2000/svg')
				path(d='M152.084 98.3893L149.53 108.058L152.084 98.3893ZM297.546 98.3893L292.207 89.9335V89.9335L297.546 98.3893ZM9.90326 84.4495C11.1113 83.7698 13.5601 82.9671 17.7692 82.5417C21.8448 82.1299 26.8955 82.1342 32.7929 82.5443C44.5886 83.3645 58.8215 85.7346 73.623 88.8385C103.253 95.0521 133.692 103.874 149.53 108.058L154.638 88.7209C139.437 84.7056 108.031 75.619 77.7278 69.2643C62.5624 66.0841 47.3062 63.5052 34.1802 62.5925C27.6168 62.1361 21.3485 62.0781 15.7582 62.6431C10.3014 63.1946 4.7373 64.4079 0.0967407 67.0187L9.90326 84.4495ZM149.53 108.058C165.11 112.173 191.778 118.957 219.991 121.301C247.845 123.614 279.202 121.797 302.884 106.845L292.207 89.9335C274.196 101.305 248.341 103.587 221.647 101.369C195.312 99.1819 170.095 92.8042 154.638 88.7209L149.53 108.058ZM302.884 106.845C326.083 92.1981 342.707 66.3671 353.327 45.4147C358.728 34.7599 362.767 24.979 365.459 17.8569C366.807 14.2901 367.823 11.3751 368.508 9.33226C368.85 8.31048 369.11 7.50576 369.288 6.94558C369.377 6.66545 369.445 6.44636 369.493 6.29173C369.517 6.21442 369.536 6.15321 369.55 6.10853C369.556 6.08619 369.562 6.06798 369.566 6.05396C369.568 6.04694 369.57 6.04098 369.572 6.03607C369.572 6.03362 369.573 6.03072 369.574 6.02949C369.574 6.02686 369.575 6.0245 360 3.14037C350.425 0.256233 350.425 0.254395 350.426 0.252815C350.426 0.25264 350.426 0.25132 350.427 0.250961C350.427 0.250244 350.427 0.250557 350.426 0.251907C350.425 0.254608 350.423 0.261429 350.42 0.272316C350.413 0.294098 350.402 0.332153 350.385 0.386047C350.352 0.493858 350.298 0.665016 350.225 0.896141C350.078 1.35847 349.852 2.06028 349.545 2.97459C348.932 4.80399 348 7.47945 346.75 10.7857C344.247 17.4098 340.489 26.5055 335.488 36.3725C325.304 56.4638 310.701 78.2573 292.207 89.9335L302.884 106.845Z', fill='url(#paint0_linear_12654_136)')
				defs
					lineargradient#paint0_linear_12654_136(x1='366.339', y1='51.7843', x2='4.76845', y2='52.033', gradientunits='userSpaceOnUse')
						stop(stop-color='#FCDED1', stop-opacity='0.3')
						stop(offset='0.217132', stop-color='#FCDED1', stop-opacity='0')
						stop(offset='0.721638', stop-color='#FCDED1', stop-opacity='0')
						stop(offset='0.99131', stop-color='#FCDED1', stop-opacity='0.5')
		.about__vektor-des
			svg(viewbox='0 0 1155 363', fill='none', xmlns='http://www.w3.org/2000/svg')
				path(d='M477.325 308.87L474.771 318.538L477.325 308.87ZM944.443 308.87L949.781 317.325L944.443 308.87ZM9.9032 244.833C17.5776 240.516 28.8857 237.484 43.7819 235.978C58.5446 234.487 76.1097 234.56 95.7844 235.928C135.134 238.664 181.971 246.506 229.905 256.558C325.8 276.667 424.616 305.289 474.771 318.538L479.879 299.201C430.362 286.121 330.578 257.234 234.01 236.984C185.712 226.855 137.852 218.805 97.1716 215.976C76.8312 214.562 58.0481 214.435 41.7709 216.08C25.6271 217.711 11.2037 221.154 0.0968018 227.402L9.9032 244.833ZM474.771 318.538C524.668 331.719 608.701 353.055 697.225 360.408C785.389 367.731 880.002 361.381 949.781 317.325L939.104 300.414C874.996 340.889 785.885 347.704 698.88 340.477C612.235 333.279 529.653 312.35 479.879 299.201L474.771 318.538ZM949.781 317.325C1019.08 273.575 1070.23 195.089 1103.85 128.757C1120.75 95.4124 1133.41 64.7609 1141.84 42.4406C1146.07 31.2747 1149.23 22.1786 1151.36 15.8546C1152.42 12.6922 1153.21 10.2218 1153.75 8.5311C1154.02 7.6857 1154.22 7.03516 1154.36 6.59036C1154.43 6.36798 1154.48 6.19702 1154.52 6.07886C1154.53 6.01978 1154.55 5.97388 1154.56 5.94138C1154.56 5.92514 1154.57 5.9122 1154.57 5.90268C1154.57 5.89789 1154.57 5.89325 1154.57 5.89087C1154.57 5.88708 1154.58 5.88412 1145 3C1135.42 0.115875 1135.43 0.114624 1135.43 0.114197C1135.43 0.115173 1135.43 0.115601 1135.42 0.117554C1135.42 0.12146 1135.42 0.128754 1135.42 0.139343C1135.41 0.160522 1135.4 0.195007 1135.39 0.242645C1135.36 0.337891 1135.31 0.485718 1135.25 0.684692C1135.13 1.08264 1134.94 1.68527 1134.69 2.48166C1134.18 4.07449 1133.42 6.44199 1132.39 9.49692C1130.34 15.6075 1127.26 24.464 1123.14 35.3694C1114.89 57.1917 1102.51 87.1581 1086.01 119.715C1052.82 185.185 1003.7 259.634 939.104 300.414L949.781 317.325Z', fill='url(#paint0_linear_12623_331)')
				defs
					lineargradient#paint0_linear_12623_331(x1='1165.36', y1='159.209', x2='4.25644', y2='160.007', gradientunits='userSpaceOnUse')
						stop(stop-color='#FCDED1', stop-opacity='0.3')
						stop(offset='0.217132', stop-color='#FCDED1', stop-opacity='0')
						stop(offset='0.721638', stop-color='#FCDED1', stop-opacity='0')
						stop(offset='0.99131', stop-color='#FCDED1', stop-opacity='0.5')
