section.education
	h2.education__title.fade-right &Ocy;&bcy;&rcy;&acy;&zcy;&ocy;&vcy;&acy;&ncy;&icy;&iecy;
	.education__wrapper
		.education__item.educ-card.fade-right
			img.educ-card__image(src='./images/sprites/svg/educ.svg', alt='Logo')
			h3.educ-card__title Interface Design:
				br
				| Web &amp; Mobile
			p.educ-card__subtitle IT-Academy, 2020
		.education__item.educ-card.fade-right
			img.educ-card__image(src='./images/sprites/svg/educ2.svg', alt='Logo')
			h3.educ-card__title Fundamentals of&nbsp;Usability
			p.educ-card__subtitle Skillshare, Oct 2018
		.education__item.educ-card.fade-right
			img.educ-card__image(src='./images/sprites/svg/educ3.svg', alt='Logo')
			h3.educ-card__title CG Artist
			p.educ-card__subtitle
				| Polygon CG School,
				br
				| May-Sep 2017
		.education__item.educ-card.fade-right
			img.educ-card__image(src='./images/sprites/svg/educ4.svg', alt='Logo')
			h3.educ-card__title Graphic Design
			p.educ-card__subtitle
				| Belarusian State Academy of Arts, 2015 - 2017 Postgraduate
				br
				| Diploma
		.education__item.educ-card.fade-right
			img.educ-card__image(src='./images/sprites/svg/educ5.svg', alt='Logo')
			h3.educ-card__title SEO Specialist
			p.educ-card__subtitle ARTOX Media,
				br
				| Jun-Aug 2012
		.education__item.educ-card.fade-right
			img.educ-card__image(src='./images/sprites/svg/educ6.svg', alt='Logo')
			h3.educ-card__title
				| Information Technology Software
			p.educ-card__subtitle
				| Belarusian State University of Informatics and
				| Radioelectronics, 2011 - 2015
				br
				| Bachelor&rsquo;s&nbsp;degree
			p.educ-card__subtitle
				| Polotsk State Economic College, 2007 - 2011 Associate&rsquo;s degree
