#experience.experience
	.experience__wrapper.container
		include work
		.experience__image-wrapper
			img.experience__image.fade-bot(src='./images/sprites/png/boy.png', alt='Boy	image')
		include education