header#header.header
	.header__wrapper.container
		button.header__menu
			span.header__line
			span.header__line
			span.header__line
		nav.header__menu-des.menu-des
			ul.menu-des__list
				li.menu-des__item.menu-des-1.fade
					a.menu-des__link &Rcy;&iecy;&zcy;&yucy;&mcy;&iecy;
					.header__bgr
						svg(viewbox='0 0 104 156', fill='none', xmlns='http://www.w3.org/2000/svg')
							path(d='M5.34343 155.721C68.0109 140.614 98.8905 72.8895 103.975 1.71247L84.0255 0.287499C79.1094 69.1105 49.9885 124.386 0.656269 136.278L5.34343 155.721Z', fill='url(#paint0_linear_12623_204)')
							defs
								lineargradient#paint0_linear_12623_204(x1='175.577', y1='-393.879', x2='-862.693', y2='645.723', gradientunits='userSpaceOnUse')
									stop(offset='0.254138', stop-color='#FCDED1', stop-opacity='0')
									stop(offset='0.301521', stop-color='#FCDED1')
									stop(offset='0.341368', stop-color='#FCDED1', stop-opacity='0')
				li.menu-des__item.menu-des-2.fade
					a.menu-des__link &Ocy; &scy;&iecy;&bcy;&iecy;
					.header__bgr
						svg(viewbox='0 0 104 156', fill='none', xmlns='http://www.w3.org/2000/svg')
							path(d='M5.34343 155.721C68.0109 140.614 98.8905 72.8895 103.975 1.71247L84.0255 0.287499C79.1094 69.1105 49.9885 124.386 0.656269 136.278L5.34343 155.721Z', fill='url(#paint0_linear_12623_204)')
							defs
								lineargradient#paint0_linear_12623_204(x1='175.577', y1='-393.879', x2='-862.693', y2='645.723', gradientunits='userSpaceOnUse')
									stop(offset='0.254138', stop-color='#FCDED1', stop-opacity='0')
									stop(offset='0.301521', stop-color='#FCDED1')
									stop(offset='0.341368', stop-color='#FCDED1', stop-opacity='0')
				li.menu-des__item.menu-des-3.fade
					a.menu-des__link &Ncy;&acy;&vcy;&ycy;&kcy;&icy;
					.header__bgr
						svg(viewbox='0 0 104 156', fill='none', xmlns='http://www.w3.org/2000/svg')
							path(d='M5.34343 155.721C68.0109 140.614 98.8905 72.8895 103.975 1.71247L84.0255 0.287499C79.1094 69.1105 49.9885 124.386 0.656269 136.278L5.34343 155.721Z', fill='url(#paint0_linear_12623_204)')
							defs
								lineargradient#paint0_linear_12623_204(x1='175.577', y1='-393.879', x2='-862.693', y2='645.723', gradientunits='userSpaceOnUse')
									stop(offset='0.254138', stop-color='#FCDED1', stop-opacity='0')
									stop(offset='0.301521', stop-color='#FCDED1')
									stop(offset='0.341368', stop-color='#FCDED1', stop-opacity='0')
	nav.header__popup.popup
		ul.popup__list
			li.popup__item
				a.popup__link.menu-1 &Rcy;&iecy;&zcy;&yucy;&mcy;&iecy;
			li.popup__item
				a.popup__link.menu-2 &Ocy; &scy;&iecy;&bcy;&iecy;
			li.popup__item
				a.popup__link.menu-3 &Ncy;&acy;&vcy;&ycy;&kcy;&icy;
		.popup__bgr
			img.popup__image(src='./images/sprites/png/popup.png', alt='Clock image')
		.popup__vector
			svg(width='48', height='70', viewbox='0 0 48 70', fill='none', xmlns='http://www.w3.org/2000/svg')
				path(d='M3.08996 69.8666C31.1432 63.1038 44.8255 32.8441 47.0747 1.35627L37.1001 0.643788C34.935 30.9547 22.132 54.9896 0.746378 60.1451L3.08996 69.8666Z', fill='url(#paint0_linear_12654_8)')
				defs
					lineargradient#paint0_linear_12654_8(x1='78.0971', y1='-173.307', x2='-380.216', y2='285.593', gradientunits='userSpaceOnUse')
						stop(offset='0.254138', stop-color='#FCDED1', stop-opacity='0')
						stop(offset='0.301521', stop-color='#FCDED1')
						stop(offset='0.341368', stop-color='#FCDED1', stop-opacity='0')