section.work
	h2.work__title.fade-left &Ocy;&pcy;&ycy;&tcy; &rcy;&acy;&bcy;&ocy;&tcy;&ycy;
	.work__wrapper
		.work__item.work-card.fade-left
			span.work-card__date &Icy;&yucy;&lcy;&softcy; 2019
			.work-card__wrapper-name
				h3.work-card__name Freelance Designer
				img.work-card__image(src="./images/sprites/svg/freelance.svg" alt="icon company")
			.work-card__wrapper-place
				p.work-card__place Netherlands, Worldwide
			p.work-card__subtitle
				| Available for a project or job in UX/UI, Visual and Product
				| design.
			a.work-card__link(href="#") Commercial tryouts
			a.work-card__link(href="#") Personal projects
		.work__item.work-card.fade-left
			span.work-card__date &YAcy;&ncy;&vcy;&acy;&rcy;&softcy; 2017 - &Scy;&iecy;&ncy;&tcy;&yacy;&bcy;&rcy;&softcy; 2018
			.work-card__wrapper-name
				h3.work-card__name Digital Designer
				img.work-card__image(src="./images/sprites/svg/digital.svg" alt="icon company")
			.work-card__wrapper-place
				img.work-card__logo(src="./images/sprites/png/jcs.png" alt="Logo firm")
				.work-card__text
					h3.work-card__name J Creative Solutions
					p.work-card__place
						| Digital agency in Minsk, Belarus
			p.work-card__subtitle
				| Created visuals for digital marketing channels such as social
				| media, promo web and online ads. Developed visual language
				| from scratch or following the branding guidelines. Designed
				| presentations
				br
				| for clients and indoor purposes.
			a.work-card__link(href="#") Agency projects
		.work__item.work-card.fade-left
			span.work-card__date &Mcy;&acy;&rcy;&tcy; 2014 - &Fcy;&iecy;&vcy;&rcy;&acy;&lcy;&softcy; 2017
			.work-card__wrapper-name
				h3.work-card__name
					| SEO Specialist &rarr; Lead SEO Specialist
				img.work-card__image(src="./images/sprites/svg/seo.svg" alt="icon company")
			.work-card__wrapper-place
				img.work-card__logo(src="./images/sprites/png/seo.png" alt="Logo firm")
				h3.work-card__name OZ.by
				p.work-card__place
					| Online bookstore in Minsk, Belarus
			p.work-card__subtitle
				| Improved website performance and user experience of the
				| biggest online bookstore OZ in Belarus, being a part of the
				| marketing team,
				br
				| I interpreted Google Analytics data to IT, content and
				| marketing colleagues. Advised on tech and content optimization
				| strategy, automated processes, provided reports, increased
				| organic traffic up to 150%.
			a.work-card__link(href="#") Annual company report 2016
		.work__item.work-card.fade-left
			span.work-card__date &Acy;&vcy;&gcy;&ucy;&scy;&tcy; 2012 - &Ncy;&ocy;&yacy;&bcy;&rcy;&softcy; 2013
			.work-card__wrapper-name
				h3.work-card__name Content Specialist
				img.work-card__image(src="./images/sprites/svg/cont.svg" alt="icon company")
			.work-card__wrapper-place
				img.work-card__logo(src="./images/sprites/png/21.png" alt="Logo firm")
				h3.work-card__name 21vek.by
				p.work-card__place
					| E-commerce store in Minsk, Belarus
			p.work-card__subtitle
				| Added and modified the product information, prepared images
				| and text for the website, developed categories filters, ensure
				| all info is correct in the catalogue with the goal of
				| improving online shopper experience.
		.work__item.work-card.fade-left
			span.work-card__date &Acy;&vcy;&gcy;&ucy;&scy;&tcy; 2011 - &Ncy;&ocy;&yacy;&bcy;&rcy;&softcy; 2014
			.work-card__wrapper-name
				h3.work-card__name Software Support Engineer
				img.work-card__image(src="./images/sprites/svg/int.svg" alt="icon company")
			.work-card__wrapper-place
				img.work-card__logo(src="./images/sprites/png/int.png" alt="Logo firm")
				h3.work-card__name Integral
				p.work-card__place
					| Microelectronics factory in Minsk, Belarus
			p.work-card__subtitle
				| Supported retail accounting system LS Trade, troubleshoot
				| technical problems.