extends pug/base
block content
	include pug/components/header
	include pug/components/about
	include pug/components/experience
	include pug/components/skill
	include pug/components/footer
	include pug/components/buttonTop