@import "_fonts";
@import "_base";
@import "./mixins/breakpoint";

html {
	scroll-behavior: smooth;
}

body {
	&.active {
		overflow-y: hidden;
	}
}

a {
	cursor: pointer;
}

.preloader {
	position: fixed;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: white;

	&__image {
		position: absolute;
		left: -250px;
		bottom: -250px;
		width: 50vw;
		max-width: 591px;
		object-fit: contain;
	}
}

@keyframes loader {
	from {
		left: -100%;
		bottom: -100%;
	}

	to {
		left: 100%;
		bottom: 100%;
	}
}

main {
	scroll-behavior: smooth;
}

.container {
	padding: 0 20px;

	@include desktop {
		padding: 0 50px;
	}

	@include desktopL {
		margin: 0 auto;
		padding: 0 150px;
		max-width: 1800px;
	}
}

.header {
	position: sticky;
	top: 0;
	z-index: 10;
	padding-top: 30px;
	min-height: 48px;

	@include desktop {
		padding-top: 0;
	}

	&__wrapper {
		display: flex;
		justify-content: flex-end;
	}

	&__menu {
		position: relative;
		z-index: 11;
		border-style: none;
		cursor: pointer;
		padding: 14px 10px;
		margin-top: -14px;
		margin-right: -10px;
		border-radius: 50%;
		background-color: white;

		&.active {
			position: fixed;
			right: 20px;
			top: 30px;
			background: #fafafa;

			.header__line:nth-child(2) {
				opacity: 0;
			}

			.header__line:first-child {
				transform: rotate(-45deg) translate(-5px, 6px);
			}

			.header__line:last-child {
				transform: rotate(45deg) translate(-5px, -6px);
			}
		}

		@include desktop {
			display: none;
		}
	}

	&__line {
		display: block;
		width: 26px;
		height: 2.25px;
		background: #282a33;
		transition: all 0.3s ease;

		&:nth-child(2) {
			margin: 5.62px 0;
		}
	}

	&__bgr {
		display: none;

		svg {
			display: block;
		}

		@include desktop {
			position: absolute;
			z-index: -1;
			display: block;
			width: 100px;
			top: -88px;
			right: -8px;
			opacity: 0;
			transition: .3s;
		}
	}
}

.menu-des {
	display: none;

	@include desktop {
		display: block;
		margin-right: 5px;
	}

	&__list {
		display: flex;
		list-style: none;
		background-color: white;
		padding: 100px 0 40px 15px;
	}

	&__item:nth-child(2) {
		margin-right: 30px;
		margin-left: 32px;
	}

	&__item {
		opacity: 0;
		transform: translateY(30px);
		transition: 0.3s;

		&.active {
			.header__bgr {
				opacity: 1;
			}
		}
	}

	&__link {
		font-family: "SF Pro Display Bold";
		font-weight: 700;
		font-style: normal;
		font-size: 18px;
		line-height: 21px;
		text-decoration: none;
		color: #282a33;
		transition: 0.4s;
		padding: 5px 0;

		&:hover,
		&:focus {
			color: #6a00e4;
		}
	}
}

@keyframes popupAppear {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes popupItem {
	from {
		opacity: 0;
		transform: translateY(30px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.popup {
	position: fixed;
	top: 0;
	z-index: 10;
	display: none;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	background: #fafafa;

	&__list {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		list-style: none;
		margin: 60px 0 0 40px;
		gap: 40px;
	}

	&__item {
		opacity: 0;
		transform: translateY(30px);
	}

	&__link {
		font-family: "SF Pro Display Bold";
		font-weight: 700;
		font-style: normal;
		font-size: 26px;
		line-height: 31px;
		text-decoration: none;
		color: #282a33;
	}

	&__bgr {
		display: flex;
		justify-content: center;
		margin-top: -33px;
		opacity: 0;
		transform: scale(0.5);
	}

	&__image {
		margin-right: 9px;
		width: 123.7vw;
		height: 100%;
	}

	&__vector {
		position: absolute;
		left: 54px;
		top: 32px;
	}

	&.active {
		display: block;
		opacity: 0;
		animation: popupAppear 0.25s ease forwards;

		.popup__item {
			animation: popupItem 0.3s 0.3s ease forwards;
		}

		.popup__item:nth-child(2) {
			animation-delay: 0.4s;
		}

		.popup__item:last-child {
			animation-delay: 0.5s;
		}

		.popup__bgr {
			animation: popupAppear 0.4s 0.5s ease forwards;
		}
	}
}

.about {
	position: relative;
	overflow: hidden;
	margin-top: -42px;
	margin-left: 2px;
	padding-bottom: 40px;

	@include desktop {
		margin-top: -61px;
		padding-bottom: 210px;
		margin-left: 0;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 24px;

		@include desktop {
			flex-direction: row;
			align-items: flex-end;
			justify-content: space-between;
			gap: 20px;
		}
	}

	&__me {
		@include desktop {
			flex: 0 1 560px;
		}
	}

	&__image {
		width: 21.33vw;
		height: 100%;
		opacity: 0;
		transform: translateY(30px);

		@include desktop {
			width: 150px;
			height: 150px;
		}
	}

	&__title {
		padding: 26px 0 20px;
		font-size: 28px;
		line-height: 140%;
		opacity: 0;
		transform: translateY(30px);

		@include desktop {
			padding: 36px 0 30px;
			font-size: 36px;
		}
	}

	&__subtitle {
		opacity: 0;
		transform: translateY(30px);
	}

	&__contacts {
		display: flex;
		flex-direction: column;
		gap: 10px;

		@include desktop {
			margin-right: 135px;
			margin-bottom: 110px;
		}
	}

	&__contact {
		font-family: "SF Pro Display Regular";
		font-weight: 400;
		font-style: normal;
		font-size: 14px;
		line-height: 140%;
		text-decoration: none;
		color: #282a33;
		opacity: 0;
		transform: translateY(30px);
	}

	&__social {
		display: flex;
		margin-top: 5px;
		gap: 20px;
	}

	&__link {
		opacity: 0;
		transform: translateY(30px);
		border-style: none;
		cursor: pointer;
	}

	&__link-image {
		display: block;
	}

	&__vektor {
		position: absolute;
		bottom: -18px;
		z-index: -1;
		padding-right: 30px;
		width: 100%;

		svg {
			display: block;
			width: 100%;
			height: 100%;
		}

		@include desktop {
			display: none;
		}
	}

	&__vektor-des {
		display: none;

		svg {
			display: block;
			width: 100%;
			height: 100%;
		}

		@include desktop {
			position: absolute;
			bottom: -56px;
			z-index: -1;
			display: block;
			padding-right: 30px;
			width: 100%;
		}

		@include desktopL {
			padding-right: 300px;
			max-width: 1800px;
		}
	}
}

.experience {
	overflow: hidden;

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 40px;

		@include desktop {
			flex-direction: row;
			gap: 0;
			justify-content: space-between;
		}
	}

	&__image-wrapper {
		display: flex;
		justify-content: center;

		@include desktop {
			width: 310px;
			position: relative;
		}
	}

	&__image {
		display: block;
		width: 53.33vw;
		height: 100%;
		opacity: 0;
		transform: translateY(250px);

		@include desktop {
			position: sticky;
			top: 0;
			width: 34.72vw;
			height: fit-content;
		}
	}

	@include desktop {
		overflow: visible;
	}
}

.work {
	margin-left: 2px;

	@include desktop {
		margin-left: 0;
	}

	&__title {
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 24px;
		opacity: 0;
		transform: translateX(-40px);

		@include desktop {
			margin-bottom: 30px;
			font-size: 24px;
			line-height: 29px;
		}
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 60px;
	}

	@include desktop {
		max-width: 560px;
	}
}

.work-card {
	opacity: 0;
	transform: translateX(-40px);

	@include desktopL {
		min-width: 560px;
	}

	&__date {
		font-family: "SF Pro Display Regular";
		font-weight: 400;
		font-style: normal;
		font-size: 14px;
		line-height: 17px;
		color: #828282;
	}

	&__wrapper-name {
		display: flex;
		padding: 7px 0;
		gap: 8px;

		@include desktop {
			padding: 8px 0;
		}
	}

	&__text {
		@include desktop {
			display: flex;
			gap: 8px;
		}
	}

	&__subtitle {
		line-height: 140%;
	}

	&__name {
		font-size: 14px;
		line-height: 17px;
	}

	&__wrapper-place {
		display: flex;
		align-items: center;
		margin-bottom: 8px;
		gap: 8px;

		@media (max-width: 370px) {
			flex-wrap: wrap;
		}

		@include desktopL {
			margin-bottom: 5.5px;
		}
	}

	&__logo {
		align-self: flex-start;
	}

	&__place {
		line-height: 17px;

		@media (min-width: 370px) {
			white-space: nowrap;
		}
	}

	&__link {
		display: block;
		margin-top: 4px;
		font-family: "SF Pro Display Regular";
		font-weight: 400;
		font-style: normal;
		font-size: 14px;
		line-height: 17px;
		color: #2f80ed;
	}

	

	&:first-child {
		@include mobile {
			.work-card__link:last-child {
				margin-top: 2.5px;
			}
			.work-card__wrapper-name {
				padding: 7px 0;
			}
			.work-card__subtitle {
				line-height: 17px;
			}
		}	
	}

	&:nth-child(3) {
		@include desktop {
			.work-card__wrapper-name {
			padding: 5px 0 6px;
			}
		}

		.work-card__wrapper-place {
			margin-bottom: 11px;
		}
	}

	&:last-child {
		@include mobile {
			.work-card__wrapper-name {
				padding: 9px 0;
			}
		}
	}
}


.education {
	@include desktop {
			text-align: center;
			width: 269px;
		}

	&__title {
		margin-bottom: 16px;
		font-size: 20px;
		line-height: 24px;
		opacity: 0;
		transform: translateX(40px);
		
		@include mobile {
			margin-left: 2px;
		}

		@include desktop {
			margin-bottom: 31px;
			font-size: 24px;
			line-height: 29px;
		}
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 20px;

		@include desktop {
			gap: 30.5px;
		}
	}

	
}

.educ-card {
	display: flex;
	flex: 0 1 157px;
	flex-direction: column;
	align-items: center;
	opacity: 0;
	transform: translateX(40px);
	gap: 5px;

	@include desktop {
		flex: 0 1 150px;
		gap: 8px;
		margin-right: 3px;
	}

	&__image {
		width: fit-content;
		height: 40px;

		@include desktop {
			height: fit-content;
		}
	}

	&__title {
		font-size: 14px;
		line-height: 20px;
		text-align: center;
	}

	&__subtitle {
		text-align: center;
		line-height: 20px;
	}
}

.skill {
	overflow: hidden;
	padding-top: 40px;

	@include desktop {
			padding-top: 192px;
		}

	&__wrapper {
		position: relative;

		@include mobile {
			margin-left: 2px;
		}
	}

	&__bgr {
		position: absolute;
		top: -40px;
		z-index: -1;
		padding-right: 30px;
		width: 100%;

		@include desktop {
			display: none;
		}
	}

	&__bgr-desktop {
		display: none;

		@include desktop {
			position: absolute;
			top: -190px;
			z-index: -1;
			display: block;
			padding-right: 30px;
			width: 100%;
		}

		@include desktopL {
			padding-right: 300px;
		}
	}

	&__title {
		margin-bottom: 21px;
		font-size: 22px;
		line-height: 26px;
		opacity: 0;
		transform: translateY(30px);

		@include desktop {
			font-size: 24px;
			line-height: 29px;
			margin-bottom: 30px;
		}
	}

	&__item-wrapper {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}

	&__item {
		flex: 0 1 300px;

		@include desktop {
			flex: 0 1 270px;
		}
	}

	&__item-title {
		margin-bottom: 6px;
		font-size: 14px;
		line-height: 17px;
		opacity: 0;
		transform: translateY(30px);
	}

	&__subtitle {
		opacity: 0;
		transform: translateY(30px);
	}
}

.footer {
	overflow: hidden;
	padding: 40px 0;

	&__wrapper {
		display: flex;
		justify-content: center;
	}

	&__image {
		width: 100vw;
		height: 100%;
		max-width: 512px;
		opacity: 0;
		transform: translateY(30px);
	}

	@include desktop {
		padding: 200px 0 50px;
	}
}

.top-link {
	position: fixed;
	right: 20px;
	bottom: 20px;
	border: 1px solid #d2233c;
	background-color: white;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	transform: translateY(150px);
	transition: .3s;

	&.active {
		transform: translateY(0);
	}

	@include desktopL {
		right: 25px;
		bottom: 90px;
		width: 48px;
		height: 48px;
	}

	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		border-style: none;
		cursor: pointer;
		background: none;

		svg {
			@include desktopL {
				width: 18px;
				height: 24px;
			}
		}
	}	
}

