@import "_fonts";
@import "_base";
@import "./mixins/breakpoint";

html {
	scroll-behavior: smooth;
}

body {
	&.active {
		overflow-y: hidden;
	}
}

a {
	cursor: pointer;
}

.preloader {
	position: fixed;
	z-index: 20;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: white;

	&__image {
		position: absolute;
		left: -250px;
		bottom: -250px;
		width: 50vw;
		max-width: 591px;
		object-fit: contain;
	}
}

@keyframes loader {
	from {
		left: -100%;
		bottom: -100%;
	}

	to {
		left: 100%;
		bottom: 100%;
	}
}

main {
	scroll-behavior: smooth;
}

.container {
	padding: 0 20px;

	@include desktop {
		padding: 0 50px;
	}

	@include desktopL {
		margin: 0 auto;
		padding: 0 150px;
		max-width: 1800px;
	}
}

@import "./components/header.scss";

@import "./components/about.scss";

@import "./components/experience.scss";

@import "./components/work.scss";

@import "./components/education.scss";

@import "./components/skill.scss";

@import "./components/footer.scss";

@import "./components/buttonTop.scss";

